<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{!-- {{#if devour}} --}}
		DEVOUR TIME!
		
		{{!-- {{else}}COME BACK!{{/if}} --}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
